* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f9f9f9;
}

.wrapper {
    /* border: 1px solid black; */
    width: 380px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.toast {
    width: 100%;
    height: 80px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1.3fr 6fr 0.5fr;
    box-shadow: 0 15px 30px rgba(0,0,0,.08);
}

.success {
    border-left: 8px solid #47f764;
}

.success i {
    color: #47f764;
}

.container-1 i {
    font-size: 35px;
}

.error {
    border-left: 8px solid #ff355b;
}

.error i {
    color: #ff355b;
}

.info {
    border-left: 8px solid #2f86eb;
}

.info i {
    color: #2f86eb;
}

.warning {
    border-left: 8px solid #ffc021;
}

.warning i {
    color: #ffc021;
}

.container-1, .container-2 {
    align-self: center;
}

.container-2 p:first-child {
    font-size: 16px;
    color: #101020;
    font-weight: 600;
}

.container-2 p:last-child {
    font-size: 12px;
    font-weight: 400;
    color: #656565;
}

.toast button {
    align-self: flex-start;
    background-color: transparent;
    border: none;
    font-size: 25px;
    line-height: 0;
    cursor: pointer;
    color: #656565;
}

.toast:not(:last-child){
    margin-bottom: 50px;
}